{%- comment -%}
(c) Tonytemplates Ltd,
https://www.tonytemplates.com/
support@tonytemplates.com
{%- endcomment -%}
{% unless template == 'index' or template == 'list-collections' %}
			<ul class="tt-breadcrumbs">
				<li><a href="/" ><i class="icon-home"></i></a></li>
				{% if template contains 'page' %}
					<li><span>{{ page.title }}</span></li>
				{% elsif template contains 'product' %}
					{% if collection.url %}
						<li>{{ collection.title | link_to: collection.url }}</li>
					{% endif %}
					<li><span>{{ product.title }}</span></li>
				{% elsif template contains 'collection' and collection.handle %}
				
					{% if collection.handle contains 'scuba' %}
					<li><span><a href="/pages/scuba">Scuba</a></span></li>
					{% endif %}
					
					{% if collection.handle contains 'surf' %}
					<li><span><a href="/pages/surf">Surf</a></span></li>
					{% endif %}
					
					{% if collection.handle contains 'freedive' %}
					<li><span><a href="/pages/freedive">Freedive</a></span></li>
					{% endif %}
					
					{% if collection.handle contains 'rebreathers' %}
					<li><span><a href="/pages/freedive">Rebreathers</a></span></li>
					{% endif %}
					
					{% if current_tags %}
						{% capture url %}/collections/{{ collection.handle }}{% endcapture %}
						<li>{{ collection.title | link_to: url }}</li>
						<li><span>{{ current_tags | join: " + " }}</span></li>
					{% else %}
						<li><span>{{ collection.title | remove_first: 'Scuba' | remove_first: 'Surf' | remove_first: 'Rebreathers' | remove_first: 'Freedive' }}</span></li>
					{% endif %}
				{% elsif template == 'blog' %}
					{% if current_tags %}
						<li>{{ blog.title | link_to: blog.url }}</li>
						<li><span>{{ current_tags | join: " + " }}</span></li>
					{% else %}
						<li><span>{{ blog.title }}</span></li>
					{% endif %}
				{% elsif template == 'article' %}
						<li>{{ blog.title | link_to: blog.url }}</li>
						<li><span>{{ article.title }}</span></li>
				{% else %}
						<li><span>{{ page_title }}</span></li>
				{% endif %}
			</ul>
{% endunless %}